*.pone
3rdparty
generated
*.install
*.bin
_build
*.beam
*.trace
test/generated/*
_opam

# nix ignores
.direnv
result
.envrc
dune.lock
dev-tools.locks

target
/minitusk
/tusk
/tusk-*
.merlin
*.cmi
*.cmo
*.cma
/logs
run_tusk.sh

/llm
.tmp

__pycache__

# Added by cargo

/target
