.nvimlog
.worktrees
dist
artifacts
.wrangler
*.pone
3rdparty
generated
*.install
*.bin
_build
*.beam
*.trace
test/generated/*
_opam

# nix ignores
.direnv
result
.env
.envrc
dune.lock
dev-tools.locks

target
/miniriot
/riot
/riot-*
.merlin
*.cmi
*.cmo
*.cma
/logs
run_riot.sh

/llm
.tmp
.docker/volumes/

__pycache__

# Added by cargo

/target

# TLA+ / TLC generated state directories
/states/
/specs/**/states/
/specs/**/*.old

# Add this to avoid accidentally committing .new files snapshot files
*.expected.new

.riot/fuzzing/**/corpus/
.riot/fuzzing/**/redundant/
.riot/fuzzing/**/findings/
