CDN_BASE_URL=https://cdn.pkgs.ml
INDEX_BASE_PATH=index/v1
SEARCH_E2E_BASE_URL=https://search.pkgs.ml
REGISTRY_E2E_BASE_URL=https://registry.pkgs.ml
SEARCH_E2E_PUBLISH_PACKAGE_LOCATOR=github.com/leostera/riot-new/packages/kernel
REGISTRY_E2E_SELECTOR=main
REGISTRY_E2E_ROOT_AUTH_TOKEN=
